* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins";
}
/* Common */
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
}
a:hover {
  opacity: 0.8;
}

.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 24px);
}
.btn {
  background-color: #171100;
  color: white;
  height: 50px;
  border-radius: 12px;
  text-align: center;
}
.row {
  display: flex;
}
.desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  color: #5f5b53;
}
.text {
  font-weight: 600;
  font-size: 18px;
  color: #171100;
}
/* Header */
.header {
  height: 100vh;
  background-color: #fffcf4;
  padding-top: 36px;
}
.neo {
  position: sticky;
  background: #fffcf4;
  top: 0px;
  z-index: 1;
  padding-top: 36px;
  padding-bottom: 36px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: #fffcf4;
}
.navbar .nav {
  margin-top: 11px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.navbar .nav li {
  padding: 6px 21px;
  text-align: center;
  overflow: hidden;
  line-height: 1.75;
}

.navbar .nav li a {
  color: #5f5b53;
}
.home1 {
  position: relative;
}
.home1::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 10px;
  height: 2px;
  background: #171100;
  bottom: 6px;
  left: 22px;
}
.navbar .action .nav li .home {
  color: #171100;
  font-weight: 600;
}
.navbar .action {
  display: flex;
}
.navbar .action .su {
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
  border-radius: 24.5px;
  justify-content: center;
  margin-left: 70px;
  padding: 17px 41px;
}
.header .body-1 {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.header .body-1 .img {
  position: relative;
}
.header .body-1 .image {
  width: 470px;
  margin-right: 100px;
}
.header .body-1 .img .pro {
  position: absolute;
  width: 270px;
  height: 244px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  right: 0;
  top: 393px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
.header .body-1 .img .pro .appp {
  margin-bottom: 14px;
}
.header .body-1 .img .pro .desc {
  margin-left: 0;
  margin-top: 0;
  line-height: 26px;
  font-size: 1.4rem;
}
.header .body-1 .img .pro .text {
  line-height: 30px;
}
.header .body-1 .img .pro .textdesc {
  margin-left: 16px;
}
.header .body-1 .content-1 {
  margin-top: 64px;
  margin-left: 130px;
  width: 470px;
}
.header .body-1 .content-1 .title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 68px;
  letter-spacing: -0.02em;
  color: #171100;
}
.header .body-1 .desc {
  margin-top: 22px;
}
.header .body-1 .row1 {
  margin-top: 38px;
}

.header .body-1 .btn-1 {
  background: #ffb900;
  border-radius: 32px;
  min-width: 180px;
  height: 64px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 21px 33px 17px;
}
.header .body-1 .row1 .watch {
  display: flex;
  margin-left: 28px;
  margin-right: 14px;
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #171100;
  text-align: center;
  overflow: hidden;
}
.header .body-1 .row1 .watch .text {
  padding: 14px 0px;
}
.header .body-1 .desc1 {
  margin-top: 0;
}
.header .body-1 .row2 {
  margin-top: 8px;
  display: flex;
}
.header .body-1 .row2 .col1 {
  display: flex;
}
.header .body-1 .row2 .col2 {
  display: flex;
  margin-left: 28px;
}
.header .body-1 .row2 .num {
  font-family: "Sen";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #171100;
  margin-right: 8px;
}
/* Courses */
#courses {
  margin-top: 200px;
}
#courses {
  position: relative;
}
#courses .nav-row {
  position: absolute;
  right: 0;
  top: 42px;
  gap: 18px;
}
#courses .title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
#courses .value-course {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
#courses .courses {
  margin-top: 55px;
  gap: 30px;
}
#courses .course {
  width: 370px;
  height: 466px;
  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
#courses .courses .body-2 {
  padding: 0 22px;
}
#courses .course .body-2 .row {
  justify-content: space-between;
}
#courses .course .body-2 .row .btn {
  padding: 12px 24px;
  border-radius: 25px;
  line-height: 25px;
  margin-bottom: 16px;
}
#courses .course:first-child .body-2 .row .btn {
  background: #ffb900;
}
#courses .course .body-2 .row .row {
  gap: 6px;
}
#courses .courses .image {
  margin-bottom: 16px;
  border-radius: 12px 12px 0px 0px;
  width: 370px;
  height: 278px;
  object-fit: cover;
}
#courses .courses .course .value-course {
  margin-bottom: 6px;
  color: #171100;
}
#courses .courses .course .desc {
  margin-bottom: 12px;
}
#courses .courses .course .vote {
  width: 18px;
  height: 18px;
}

/* Banner */
.banner {
  margin-top: 200px;
  background: #2e2100;
  height: 380px;
}
.banner .content {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
}
.banner .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 999px;
  margin-bottom: 23px;
}
.banner .info .name {
  margin-bottom: 15px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 24px;
  color: #f7f7f7;
}
.banner .info .desc {
  margin-bottom: 34px;
  font-size: 14px;
}
.dots {
  gap: 6px;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: #634700;
}
.dot-active {
  background-color: #ffb900;
}
.banner .comments {
  position: relative;
  width: 63%;
  height: 160px;
}

.banner .comments .comment {
  position: absolute;
  top: 35px;
  left: 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: #ffffff;
}
/* Pricing */
#pricing {
  margin-top: 200px;
}
#pricing .image1 {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
#pricing .image1:first-child {
  margin-top: 34px;
  margin-right: 30px;
}
#pricing .image1:nth-child(2) {
  margin-right: 130px;
}
#pricing .title {
  margin-top: 48px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
}
#pricing .desc {
  margin-top: 16px;
  line-height: 28px;
  color: #5f5b53;
}

#pricing .btn {
  margin-top: 38px;
  background: #ffb900;
  min-width: 137px;
  border-radius: 48px;
  border: 0px;
}
#pricing .after-row {
  margin-top: 200px;
}
#pricing .row .body-3 {
  width: 570px;
  margin-top: 19px;
  margin-right: 130px;
}
#pricing .img2 {
  margin-left: 0;
  margin-right: auto;
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}
/* Blogs */

.blogs {
  margin-top: 200px;
  padding: 96px 0px 96px 0px;
  background: #fffcf4;
  flex: 1;
}
.blogs .title {
  display: block;
  width: 100%;
  font-family: "Sen";
  font-weight: 700;
  font-size: 3.8rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #130606;
}
.blogs .desc {
  margin-top: 21px;
  font-size: 1.6rem;
  color: #696262;
  display: block;
  line-height: 1.5;
  width: 448px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 55px;
}
.blogs .blog {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  height: 467px;
}
.blogsss {
  display: flex;
  flex: 1;
  gap: 30px;
}

.blogs .blog .image {
  width: 370px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 26px;
  border-radius: 16px 16px 0px 0px;
}
.blog .body-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.blog .row {
  padding-bottom: 18px;
  color: #5f5b53;
  border-bottom: 1px solid #e2dfda;
  border-radius: 0.5px;
  width: 160px;
}
.blogs .blog .dot-active {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: #ffb900;
  margin-right: 4px;
  margin-top: 4px;
}
.blogs .blog .date {
  font-size: 1.4rem;
}
.blog .title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}
.blog .btn {
  min-width: 118px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.blog:first-child .btn {
  background: #ffb900;
  border: 0px;
}
.blogs .dots {
  margin-top: 38px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
