* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins";
}
/* Common */
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
}
a:hover {
  opacity: 0.8;
}

.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 24px);
}
.btn {
  background-color: #171100;
  color: white;
  height: 50px;
  border-radius: 12px;
  text-align: center;
}
.row {
  display: flex;
}
.desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  color: #5f5b53;
}
.text {
  font-weight: 600;
  font-size: 18px;
  color: #171100;
}
/* Header */
.header {
  height: 100vh;
  background-color: #fffcf4;
  padding-top: 36px;
}
.neo {
  position: sticky;
  background: #fffcf4;
  top: 0px;
  z-index: 1;
  padding-top: 36px;
  padding-bottom: 36px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: #fffcf4;
}
.navbar .nav {
  margin-top: 11px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.navbar .nav li {
  padding: 6px 21px;
  text-align: center;
  overflow: hidden;
  line-height: 1.75;
}

.navbar .nav li a {
  color: #5f5b53;
}
.home1 {
  position: relative;
}
.home1::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 10px;
  height: 2px;
  background: #171100;
  bottom: 6px;
  left: 22px;
}
.navbar .action .nav li .home {
  color: #171100;
  font-weight: 600;
}
.navbar .action {
  display: flex;
}
.navbar .action .su {
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
  border-radius: 24.5px;
  justify-content: center;
  margin-left: 70px;
  padding: 17px 41px;
}
.header .body-1 {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.header .body-1 .img {
  position: relative;
}
.header .body-1 .image {
  width: 470px;
  margin-right: 100px;
}
.header .body-1 .img .pro {
  position: absolute;
  width: 270px;
  height: 244px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  right: 0;
  top: 393px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
.header .body-1 .img .pro .appp {
  margin-bottom: 14px;
}
.header .body-1 .img .pro .desc {
  margin-left: 0;
  margin-top: 0;
  line-height: 26px;
  font-size: 1.4rem;
}
.header .body-1 .img .pro .text {
  line-height: 30px;
}
.header .body-1 .img .pro .textdesc {
  margin-left: 16px;
}
.header .body-1 .content-1 {
  margin-top: 64px;
  margin-left: 130px;
  width: 470px;
}
.header .body-1 .content-1 .title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 68px;
  letter-spacing: -0.02em;
  color: #171100;
}
.header .body-1 .desc {
  margin-top: 22px;
}
.header .body-1 .row1 {
  margin-top: 38px;
}

.header .body-1 .btn-1 {
  background: #ffb900;
  border-radius: 32px;
  min-width: 180px;
  height: 64px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 21px 33px 17px;
}
.header .body-1 .row1 .watch {
  display: flex;
  margin-left: 28px;
  margin-right: 14px;
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #171100;
  text-align: center;
  overflow: hidden;
}
.header .body-1 .row1 .watch .text {
  padding: 14px 0px;
}
.header .body-1 .desc1 {
  margin-top: 0;
}
.header .body-1 .row2 {
  margin-top: 8px;
  display: flex;
}
.header .body-1 .row2 .col1 {
  display: flex;
}
.header .body-1 .row2 .col2 {
  display: flex;
  margin-left: 28px;
}
.header .body-1 .row2 .num {
  font-family: "Sen";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #171100;
  margin-right: 8px;
}
/* Courses */
#courses {
  margin-top: 200px;
}
#courses {
  position: relative;
}
#courses .nav-row {
  position: absolute;
  right: 0;
  top: 42px;
  gap: 18px;
}
#courses .title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
#courses .value-course {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
#courses .courses {
  margin-top: 55px;
  gap: 30px;
}
#courses .course {
  width: 370px;
  height: 466px;
  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
#courses .courses .body-2 {
  padding: 0 22px;
}
#courses .course .body-2 .row {
  justify-content: space-between;
}
#courses .course .body-2 .row .btn {
  padding: 12px 24px;
  border-radius: 25px;
  line-height: 25px;
  margin-bottom: 16px;
}
#courses .course:first-child .body-2 .row .btn {
  background: #ffb900;
}
#courses .course .body-2 .row .row {
  gap: 6px;
}
#courses .courses .image {
  margin-bottom: 16px;
  border-radius: 12px 12px 0px 0px;
  width: 370px;
  height: 278px;
  object-fit: cover;
}
#courses .courses .course .value-course {
  margin-bottom: 6px;
  color: #171100;
}
#courses .courses .course .desc {
  margin-bottom: 12px;
}
#courses .courses .course .vote {
  width: 18px;
  height: 18px;
}
